html, body{
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #160e32 20%, #cdbb93)
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sesion{
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #9eae8a;
}

.row{
    width: 100%;
}